.form
{
  width: 70%;
  height: 600px;
  
  background-color: khaki;
  
  border-radius: 100px;
  margin-top: 50px;
  margin-left: 240px;
  margin-bottom: 50px;

}
.form img
{
  float: right;
  width: 40%;
  height: 100%  ;
  border-radius: 28px 100px 100px 28px;
}
.first
{
  position: absolute;
  top: 150px;
  left: 280px;

}
.last
{
  position: absolute;
  top: 250px;
  left: 280px;

}
.country
{
   position: absolute;
  top: 350px;
  left: 280px;


}
.kind
{
   position: absolute;
  top: 450px;
  left: 280px;

}
.form button
{
  position: absolute;
  top: 600px;
  left: 500px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: black;
  color: ivory;
  transition: 0.5s;
}
.form button:hover
{
  background-color: white;
  color: black;
}